

/* Page layout and style */

body {
  background-image: url('wood_pattern.png');
  color: #404040;
}

.bibliography {
  width: 480px;
  height: 680px;
  margin: 48px auto;
  padding: 60px;

  box-shadow: 0 1px 3px rgba(0,0,0,.4);
  background-image: url('handmadepaper.png');
  border-top: 1px solid white;
}


/* Typography */

body {
  color: #404040;
  
  font-family: monospace;
  line-height: 24px;
}

h1, 
.source {
  font-size: 16px;
  margin-bottom: 24px;
}


/* display: block experiments */

.source:hover {
  background-color: #ffd;
}

span:hover {
  background-color: #cfc;
}



.book .title {
  text-decoration: underline;
}

.article .title {
  font-style: oblique;
  margin-left: -9px;
}

.author {
  display: block;
}

.title {
  display: block;
  font-weight: bold;
}

