/* Global styles */

body {
  width: 940px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin: 0;
}


/* Typography */

body {
  font-family: helvetica;
  font-size: 18px;
  line-height: 27px;
}

.header {
  font-size: 18px;
  line-height: 48px;
}

.org-title {
  font-size: 36px;
  line-height: 81px;
}

.topic-title {
  font-size: 27px;
  line-height: 36px;
  font-weight: bold;
}

.job-links {
  font-size: 9px;
  line-height: 13px;
}


/* Header */

.header {
  background-color: #333333;
  color: white;
  height: 48px;
}

.header a {
  color: white;
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

.brand {
  float: left;
  margin: 0;
}

.app-nav {
  overflow: hidden; /* Clearfix */
  list-style: none;
}

.app-nav li {
  float: left;
  margin: 0 10px;
}

/* Content */

.org-title {
  padding-left: 180px;
  margin: 0;
}

.org-nav {
  float: left;
  width: 120px;
  margin: 0 20px 0 0;
  
  border-top: 1px solid black;
  
  list-style: none;
}

.org-nav li {
  margin-bottom: 9px;
}

.topics {
  float: left;
  width: 520px;
  margin-right: 20px;
  
  border-top: 1px solid black;
}

.sidebar {
  float: left;
  width: 220px;
  
  border-top: 1px solid black;
}


/* Footer */

.footer {
  clear: left;
  overflow: hidden;
  
  background-color: #333;
  color: white;
  
  font-size: 9px;
}

.copyright {
  float: left;
}

.footer-link {
  float: right;
  margin-left: 10px;
  
  color: white;
}


/* Modal */

.modal, .menu {
  display: none;
}