/* Decoration */

body {
  background-image: url('ricepaper.png');
  color: #423d3a;
}

h1, .pull-quote, a {
  color: #5d290a;
}

.pull-quote {
  border-width: 1px;
  border-style: solid;
  border-color: #e9e4e1;
  background-color: white;
}

.credit {
  color: #8e6e5a;
}

img {
  float: left;
  margin-right: 18px;
}

/* Typography */

body {
  font-family: Palatino, Palatino Linotype, Book Antiqua, serif;
  font-size: 18px;
  line-height: 27px;
}

h1 {
  font-size: 54px;
  line-height: 54px;
  text-align: center;
}

.key-cap {
  font-size: 36px;
}

.pull-quote {
  font-size: 36px;
  line-height: 45px;
}

/* Layout */

body {
  margin: 36px auto;
  width: 600px;
}

p {
  width: 500px;
}

.pull-quote {
  float: right;
  width: 300px;
  margin: 18px;
  padding: 18px;
}